<center><h1>User Profile</h1></center>

<p>
   <Strong>NAME :- </Strong><br>
   <%= @profile.Name %><br><br>
    <Strong>USER_NAME :- </Strong><br>
   <%= @profile.User_name %><br><br>
    <Strong>BIO :- </Strong><br>
   <%= @profile.Bio %><br><br>
    <Strong>GENDER :- </Strong><br>
   <%= @profile.Gender %><br><br>
   <Strong>DOB :- </Strong><br>
   <%= @profile.DOB %><br><br>
</p>
